<div class="container my-5">
  <div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
      <div class="row pb-3">
        <div class="col-12 col-md-6">
          <h2 class="py-2">Motor Vehicle List</h2>
        </div>

        <div class="col-12 col-md-6 text-md-end">
          <button class="btn btn-primary" (click)="NavigateToCreate()">
            <i class="bi bi-plus-circle"></i> Create New Motor Vehicle
          </button>
        </div>
      </div>

      <div class="col-12 my-2">
        <div class="row">
          <div class="col-12 col-md-9">
            <input
              placeholder="Search by name..."
              class="form-control"
              type="text"
              [(ngModel)]="searchTerm"
            />
          </div>
          <div class="col-12 col-md-3">
            <button
              class="text-white btn btn-warning w-100"
              (click)="searchTerm = ''"
            >
              <i class="bi bi-x-circle-fill"></i>
              Reset Search
            </button>
          </div>
        </div>
      </div>

      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th class="text-white" style="width: 5%">Id</th>
            <th class="text-white" style="width: 15%">Brand</th>
            <th class="text-white" style="width: 15%">Model</th>
            <th class="text-white" style="width: 15%">Insurance Provider</th>
            <th class="text-white" style="width: 15%">Vehicle Type</th>
            <th class="text-white" style="width: 35%">Actions</th>
          </tr>
        </thead>
        <tbody>
          @for(motorVehicle of motorVehicles; track $index){
          @if(motorVehicle.brand.toLowerCase().includes(searchTerm)){
          <tr>
            <td class="text-white">{{ motorVehicle.id }}</td>
            <td class="text-white">{{ motorVehicle.brand }}</td>
            <td class="text-white">{{ motorVehicle.model }}</td>
            <td class="text-white">{{ motorVehicle.insurancePolicy }}</td>
            <td class="text-white">{{ motorVehicle.motorVehicleType }}</td>
            <td>
              <div class="w-100 btn-group" role="group">
                <button
                  class="btn btn-primary rounded-start"
                  (click)="NavigateToEdit(motorVehicle.id)"
                >
                  <i class="bi bi-pencil-square"></i> Edit
                </button>
                <button
                  class="btn btn-danger rounded-end"
                  (click)="Delete(motorVehicle.id)"
                >
                  <i class="bi bi-trash-fill"></i> Delete
                </button>
              </div>
            </td>
          </tr>
          @for(driver of motorVehicle.drivers; track $index){
          <tr class="table-info">
            <td style="width: 5%"></td>
            <td colspan="5" class="text-center">
              {{ driver.firstName + " " + driver.lastName }}
            </td>
          </tr>
          } } } @empty {
          <tr>
            <td colspan="6" class="text-center text-white">empty list</td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
