<div class="container my-5">
    @if(showErrorBrand){
        <div class="alert alert-danger" role="alert">Invalid brand name</div>
    }
    @if(showErrorModel){
            <div class="alert alert-danger" role="alert">Invalid model name</div>
    }
    @if(showErrorMotorVehicleType){
        <div class="alert alert-danger" role="alert">You must select motor vehicle type</div>
    }
    @if(showErrorInsurancePolicy){
        <div class="alert alert-danger" role="alert">You must select insurance policy</div>
    }
    @if(showErrorDrivers){
        <div class="alert alert-danger" role="alert">You must select at least one driver</div>
    }
    <div class="card shadow border-0 mt-4">
        <div class="card-header bg-secondary bg-gradient ml-0 py-3">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="py-2">Create Motor Vehicle</h2>
                </div>
            </div>
        </div>
        <div class="card-body p-4">
                <div class="border p-3 row">
    
                    <div class="form-floating py-2 col-12 col-md-6">
                        <input class="form-control border-0 shadow" type="text" [(ngModel)]="request.brand"/>
                        <label class="ms-2">Brand</label>
                    </div>
    
                    <div class="form-floating py-2 col-12 col-md-6">
                        <input class="form-control border-0 shadow" type="text" [(ngModel)]="request.model"/>
                        <label class="ms-2">Model</label>
                    </div>
    
                    <div class="form-floating py-2 col-12 col-md-6">
                        <select class="form-select" [(ngModel)]="request.motorVehicleTypeId">
                            <option value="" disabled selected>Select a vehicle type</option>
                            @for(option of motorVehicleTypes; track $index){
                                <option [value]="option.id">{{option.name}}</option>
                            }
                        </select>
                        <label class="ms-2">Motor vehicle type</label>
                    </div>
    
                    <div class="form-floating py-2 col-12 col-md-6">
                        <select class="form-select" [(ngModel)]="request.insurancePolicyId">
                            <option value="" disabled selected>Select insurance policy</option>
                            @for(option of insurancePolicies; track $index){
                                <option [value]="option.id">{{option.name}}</option>
                            }
                        </select>
                        <label class="ms-2">Insurance policy</label>
                    </div>
    
                    <div class="py-2 col-12 col-md-6">
    
                        <h3>Available Drivers</h3>
    
                        <ul class="list-group">
    
                            @for (option of drivers; track $index)
                            {
                                <li class="list-group-item">
    
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" [(ngModel)]="option.isSelected" (change)="updateSelectedValues(option)">
                                        <label class="form-check-label">
                                            {{option.label}}
                                        </label>
                                    </div>
    
                                </li>
                            }
    
                        </ul>
    
                    </div>
    
                </div>
    
    
                <div class="row pt-2">
                    <div class="col-12 col-md-6">
                        <button class="btn btn-primary form-control" (click)="Create()">Create</button>
                    </div>
                    <div class="col-12 col-md-6 mt-1 mt-lg-0">
                        <button class="btn btn-outline-primary border form-control" (click)="BackToList()">
                            Back to List
                        </button>
                    </div>
                </div>
        </div>
    </div>
</div>
